## Ordinal Number Encoding

In ordinal nuber encoding, each unique category is assigned an integer value.

For example, "red" is 1 and "bule" is 2 and "black" is 3.

This is called ordinal number encoding or an integer encoding and is easily reversible often integer values starting at 0 are used.

By default, it will allot numbers to marks in the request that is seen in the information. In the event that a particular request is wanted, it tends to be indicated by means of the "classes" contention as a rundown with the rank request of every normal mark.

We can show the utilization of this class by changing over shadings classifications "red", "green" and "blue" into whole numbers. First the classes are arranged at that point numbers are applied. For strings, this implies the marks are arranged sequentially and that black=0, blue=1 and red=2.

In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
datetime.datetime.today()

datetime.datetime(2021, 1, 17, 19, 39, 28, 955250)

In [3]:
datetime.datetime.today() - datetime.timedelta(3) # to find the three days back date information

datetime.datetime(2021, 1, 14, 19, 39, 30, 77631)

In [4]:
days = [datetime.datetime.today() - datetime.timedelta(i) for i in range(20)]
days

[datetime.datetime(2021, 1, 17, 19, 39, 30, 258361),
 datetime.datetime(2021, 1, 16, 19, 39, 30, 258361),
 datetime.datetime(2021, 1, 15, 19, 39, 30, 258361),
 datetime.datetime(2021, 1, 14, 19, 39, 30, 258361),
 datetime.datetime(2021, 1, 13, 19, 39, 30, 258361),
 datetime.datetime(2021, 1, 12, 19, 39, 30, 258361),
 datetime.datetime(2021, 1, 11, 19, 39, 30, 258361),
 datetime.datetime(2021, 1, 10, 19, 39, 30, 258361),
 datetime.datetime(2021, 1, 9, 19, 39, 30, 258361),
 datetime.datetime(2021, 1, 8, 19, 39, 30, 258361),
 datetime.datetime(2021, 1, 7, 19, 39, 30, 258361),
 datetime.datetime(2021, 1, 6, 19, 39, 30, 258361),
 datetime.datetime(2021, 1, 5, 19, 39, 30, 258361),
 datetime.datetime(2021, 1, 4, 19, 39, 30, 258361),
 datetime.datetime(2021, 1, 3, 19, 39, 30, 258361),
 datetime.datetime(2021, 1, 2, 19, 39, 30, 258361),
 datetime.datetime(2021, 1, 1, 19, 39, 30, 258361),
 datetime.datetime(2020, 12, 31, 19, 39, 30, 258361),
 datetime.datetime(2020, 12, 30, 19, 39, 30, 258361),
 datetime.datetime(2020, 12, 29, 19, 39, 30, 258361)]

In [5]:
df = pd.DataFrame(data=days,columns=["Date"])
df.head()

                        Date
0 2021-01-17 19:39:30.258361
1 2021-01-16 19:39:30.258361
2 2021-01-15 19:39:30.258361
3 2021-01-14 19:39:30.258361
4 2021-01-13 19:39:30.258361

In [6]:
df["Week_days"] = df["Date"].dt.day_name() # to get day name for all days

In [7]:
df.head()

                        Date  Week_days
0 2021-01-17 19:39:30.258361     Sunday
1 2021-01-16 19:39:30.258361   Saturday
2 2021-01-15 19:39:30.258361     Friday
3 2021-01-14 19:39:30.258361   Thursday
4 2021-01-13 19:39:30.258361  Wednesday

In [8]:
days_name = {"Monday":1, "Tuesday":2, "Wednesday":3, "Thursday":4, "Friday":5, "Saturday":6, "Sunday":7}
days_name

{'Monday': 1,
 'Tuesday': 2,
 'Wednesday': 3,
 'Thursday': 4,
 'Friday': 5,
 'Saturday': 6,
 'Sunday': 7}

In [9]:
df["Ordinal_encoded"] = df["Week_days"].map(days_name)
df.head()

                        Date  Week_days  Ordinal_encoded
0 2021-01-17 19:39:30.258361     Sunday                7
1 2021-01-16 19:39:30.258361   Saturday                6
2 2021-01-15 19:39:30.258361     Friday                5
3 2021-01-14 19:39:30.258361   Thursday                4
4 2021-01-13 19:39:30.258361  Wednesday                3

# OR

We can us the OrdinalEncoder inbuilt function to do this job but the issue with this is that it will change the values in an arranged order or in sorted order. 

i.e. {'Sunday', 'Saturday', 'Friday', 'Thursday', 'Wednesday', 'Tuesday','Monday'} all the days will be first arranged in sorted order {'Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday'} and then they will be assigned numbers as per there apperance i.e. {'Friday':0, 'Monday':1, 'Saturday':2, 'Sunday':3, 'Thursday':4, 'Tuesday':5, 'Wednesday':6}

In [10]:
days = [datetime.datetime.today() - datetime.timedelta(i) for i in range(20)]
#days

In [11]:
df2 = pd.DataFrame(data=days,columns=["Date"])
df2["Week_days"] = df["Date"].dt.day_name()
df2.head()

                        Date  Week_days
0 2021-01-17 19:39:30.937922     Sunday
1 2021-01-16 19:39:30.937922   Saturday
2 2021-01-15 19:39:30.937922     Friday
3 2021-01-14 19:39:30.937922   Thursday
4 2021-01-13 19:39:30.937922  Wednesday

In [12]:
c = list(df2["Week_days"].unique())
c.sort()
print(c)

['Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday']

In [13]:
from sklearn.preprocessing import OrdinalEncoder

In [14]:
o_encoder = OrdinalEncoder()
x = np.array(df2["Week_days"]).reshape(-1,1)
days_column = o_encoder.fit_transform(x)
days_column = pd.DataFrame(data=days_column, columns=["Ordinal_encoded"])
df2 = pd.concat([df2,days_column],axis=1)

In [15]:
df2.head(20)

                         Date  Week_days  Ordinal_encoded
0  2021-01-17 19:39:30.937922     Sunday              3.0
1  2021-01-16 19:39:30.937922   Saturday              2.0
2  2021-01-15 19:39:30.937922     Friday              0.0
3  2021-01-14 19:39:30.937922   Thursday              4.0
4  2021-01-13 19:39:30.937922  Wednesday              6.0
5  2021-01-12 19:39:30.937922    Tuesday              5.0
6  2021-01-11 19:39:30.937922     Monday              1.0
7  2021-01-10 19:39:30.937922     Sunday              3.0
8  2021-01-09 19:39:30.937922   Saturday              2.0
9  2021-01-08 19:39:30.937922     Friday              0.0
10 2021-01-07 19:39:30.937922   Thursday              4.0
11 2021-01-06 19:39:30.937922  Wednesday              6.0
12 2021-01-05 19:39:30.937922    Tuesday              5.0
13 2021-01-04 19:39:30.937922     Monday              1.0
14 2021-01-03 19:39:30.937922     Sunday              3.0
15 2021-01-02 19:39:30.937922   Saturday              2.0
16 2021-01-01 19:39:30.937922     Friday              0.0
17 2020-12-31 19:39:30.937922   Thursday              4.0
18 2020-12-30 19:39:30.937922  Wednesday              6.0
19 2020-12-29 19:39:30.937922    Tuesday              5.0