In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("full.csv", usecols = ["Cabin","Survived"])
df.head()

   Survived Cabin
0       0.0   NaN
1       1.0   C85
2       1.0   NaN
3       1.0  C123
4       0.0   NaN

In [3]:
#df.isnull().sum()

In [4]:
df.dropna(subset = ["Survived"], inplace = True)

In [5]:
df["Cabin"].fillna("Missing",inplace=True)
df.head()

   Survived    Cabin
0       0.0  Missing
1       1.0      C85
2       1.0  Missing
3       1.0     C123
4       0.0  Missing

In [6]:
df.dtypes

Survived    float64
Cabin        object
dtype: object

In [7]:
df["Cabin"] = df["Cabin"].astype(str).str[0]
df.head()

   Survived Cabin
0       0.0     M
1       1.0     C
2       1.0     M
3       1.0     C
4       0.0     M

In [8]:
df["Cabin"].unique()

array(['M', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [9]:
df.groupby(["Cabin"])["Survived"].mean()

Cabin
A    0.466667
B    0.744681
C    0.593220
D    0.757576
E    0.750000
F    0.615385
G    0.500000
M    0.299854
T    0.000000
Name: Survived, dtype: float64

In [10]:
df.groupby(["Cabin"])["Survived"].mean().sort_values()

Cabin
T    0.000000
M    0.299854
A    0.466667
G    0.500000
C    0.593220
F    0.615385
B    0.744681
E    0.750000
D    0.757576
Name: Survived, dtype: float64

In [11]:
labels = df.groupby(["Cabin"])["Survived"].mean().sort_values().index
labels

Index(['T', 'M', 'A', 'G', 'C', 'F', 'B', 'E', 'D'], dtype='object', name='Cabin')

In [12]:
ordinal_labels = {key:value for value,key in enumerate(labels,0)}
ordinal_labels

{'T': 0, 'M': 1, 'A': 2, 'G': 3, 'C': 4, 'F': 5, 'B': 6, 'E': 7, 'D': 8}

In [13]:
df["Encoded_value"] = df["Cabin"].map(ordinal_labels)

In [14]:
df.head()

   Survived Cabin  Encoded_value
0       0.0     M              1
1       1.0     C              4
2       1.0     M              1
3       1.0     C              4
4       0.0     M              1