In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("full.csv", usecols = ["Sex"])
df.head()

      Sex
0    male
1  female
2  female
3  female
4    male

In [3]:
pd.get_dummies(df["Sex"])

      female  male
0          0     1
1          1     0
2          1     0
3          1     0
4          0     1
...      ...   ...
1304       0     1
1305       1     0
1306       0     1
1307       0     1
1308       0     1

[1309 rows x 2 columns]

In [4]:
one_hot = pd.get_dummies(df["Sex"],drop_first=True)
#one_hot
df = pd.concat([df,one_hot],axis=1)
df.head()

      Sex  male
0    male     1
1  female     0
2  female     0
3  female     0
4    male     1

In [10]:
df.rename(columns={"male":"One_hot_encoded"}, inplace=True)  # to rename any columns in dataframe
df.head()

      Sex  One_hot_encoded
0    male                1
1  female                0
2  female                0
3  female                0
4    male                1

## OR

we can use inbuild function i.e.we can use OneHotEncoder() for the same purpose.

In [6]:
df2 = pd.read_csv("full.csv",usecols=["Sex"])
df2.head()

      Sex
0    male
1  female
2  female
3  female
4    male

In [7]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(drop='first',sparse=False)
sex = np.array(df2["Sex"]).reshape(-1,1)
sex = encoder.fit_transform(sex)
sex = pd.DataFrame(data=sex,columns=["One_hot_encoded"])
df2 = pd.concat([df2,sex],axis=1)

In [8]:
df2.head()

      Sex  One_hot_encoded
0    male              1.0
1  female              0.0
2  female              0.0
3  female              0.0
4    male              1.0